{% load filter_active %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search_article</title>
    <style>
        .cate a{
            display: inline-block;
            padding: 3px 5px;
            border: 1px solid #dddddd;
            margin: 5px;
        }
        .condi a.active{
            background-color: red;
        }
    </style>
</head>
<body class="cate">
    <div class="condi">
        <p>
        {% fa1 arg_dict 'category_id' %}
{#        {% fa2 arg_dict article_type_list %}#}
        {% fa5 arg_dict article_type_list category_list 'article_type_id' %}
        </p>
        <p>
        {% fa1 arg_dict 'article_type_id' %}
{#        {% fa3 arg_dict category_list %}#}
        {% fa5 arg_dict article_type_list category_list 'category_id' %}
        </p>

        <table>
        <tr>
            <td>查询结果</td>
        </tr>
        {% for s in article_list %}
            <tr>
            <td>{{ s.title }} </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>