<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search_article</title>
    <style>
        .cate a{
            display: inline-block;
            padding: 3px 5px;
            border: 1px solid #dddddd;
            margin: 5px;
        }
        .condi a.active{
            background-color: red;
        }
    </style>
</head>
<body class="cate">
    <div class="condi">
        <p>
        <span><a href="/search_article-0-{{ arg_dict.category_id }}.html">全部</a></span>
        {% for m in article_type %}
            {% if m.id == arg_dict.article_type_id %}
                <a class="active" href="/search_article-{{ m.id }}-{{ arg_dict.category_id }}.html"> {{ m.caption }}</a>
            {% else %}
                <a href="/search_article-{{ m.id }}-{{ arg_dict.category_id }}.html"> {{ m.caption }}</a>
            {% endif %}
        {% endfor %}
        </p>

        <p>
        {% if arg_dict.category_id == 0 %}
            <span><a class="active" href="/search_article-{{ arg_dict.article_type_id }}-0.html">全部</a></span>
        {% else %}
            <span><a href="/search_article-{{ arg_dict.article_type_id }}-0.html">全部</a></span>
        {% endif %}
        {% for c in category %}
            {% if c.id == arg_dict.category_id %}
                <a class="active" href="/search_article-{{ arg_dict.article_type_id }}-{{ c.id }}.html">{{ c.caption }}</a>
            {% else %}
                <a href="/search_article-{{ arg_dict.article_type_id }}-{{ c.id }}.html">{{ c.caption }}</a>
            {% endif %}
        {% endfor %}
        </p>

        <table>
        <tr>
            <td>文章标题</td>
        </tr>
        {% for s in article %}
            <tr>
            <td>{{ s.title }} </td>
            </tr>
        {% endfor %}

        </table>
    </div>
</body>
</html>